.container {
  position: relative;
  color: white;
  height: 100vh;
  background: #222222;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.connecting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
